<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Transaction</title>
    <link rel="stylesheet" href="css/viewhistory.css">
    <link rel="stylesheet" href="css/header.css">

  </head>
  <body>
   {{>header}}
    <!-- Add one more box which is designed to display the history of transaction -->
    <div class="container2" style="overflow-y: scroll;">
      <!-- Add a heading -->
      <h1>Transaction History</h1>
      <!-- Add a table to display the history of transaction -->
      <table>
         <thead>
      <tr>
        <th>Index</th>
        <th>Type</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {{#each user.history as |hist index|}}
      <tr>
        <td>{{index}}</td>
        {{#if hist.income}}
        <td>Income</td>
        {{else}}
        <td>Expense</td>
        {{/if}}
        <td>{{hist.date}}</td>
        <td>{{hist.amount}}</td>
        <td>{{hist.category}}</td>
        <td>{{hist.description}}</td>
      </tr>
      {{/each}}
    </tbody>
        </table>
    </div>
    <div class="image">
    <img src="/images/trans.png" alt="Transaction">
    {{!-- </div> --}}
    </div>
  </body>
</html>
a